.registration-place {
  display: flex;
  width: 100%;
  color: rgba(43, 17, 5, 1);
  margin-top: 100px;
}

@media screen and (max-width: 1184px) {
  .registration-place {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .registration-place {
    margin-top: 65px;
  }
}

@media screen and (max-width: 491px) {
  .registration-place {
    margin-top: 50px;
    flex-direction: column;
  }
}