html {
  scroll-behavior: smooth;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Fontin Sans CR SC", "Arial", sans-serif;
  color: #2b1105;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCF9F7;
}