.wedding-plan__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

@media (max-width: 1184px) {
  .wedding-plan__text {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .wedding-plan__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 491px) {
  .wedding-plan__text {
    font-size: 10px;
  }
}