.wedding-wish-guests__happy {
  visibility: hidden;
  font-size: 100px;
  font-family: "French Kiss KG script", "Arial", "sans-serif";
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 1184px) {
  .wedding-wish-guests__happy {
    left: 35%;
  }
}

@media screen and (max-width: 767px) {
  .wedding-wish-guests__happy {
    left: 30%;
    font-size: 80px;
  }
}

@media screen and (max-width: 491px) {
  .wedding-wish-guests__happy {
    left: 28%;
    font-size: 60px;
  }
} */