.invitation__title {
  margin: 0 0 16px;
  padding: 0;
  font-weight: 400;
  font-size: 130px;
  line-height: .75;
  color: #3399CC;
  font-family: "French Kiss KG script", "Arial", "sans-serif";
}

@media screen and (max-width: 1065px) {
  .invitation__title {
    font-size: 100px;
  }
}

@media screen and (max-width: 767px) {
  .invitation__title {
    font-size: 80px;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .invitation__title {
    margin-top: 10px;
    font-size: 65px;
  }
}