.menu__burger {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu__burger {
    display: flex;
    width: 24px;
    height: 24px;
    text-align: center;
    background: url(../../../images/arrow.png) no-repeat center/cover;
    border: none;
  }

  .menu__burger:hover {
    cursor: pointer;
  }
}