.wedding-plan__row {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 50px auto 0;
}

@media (max-width: 1184px) {
  .wedding-plan__row {
    margin: 40px auto 0;
  }
}

@media (max-width: 767px) {
  .wedding-plan__row {
    margin: 30px auto 0;
    max-width: 80vw;
  }
}

@media (max-width: 491px) {
  .wedding-plan__row {
    max-width: 85vw;
  }
}