.our-history__title {
  font-weight: 400;
  font-size: 100px;
  line-height: 1;
  margin: 130px 0 130px 140px;
  width: 30%;
  font-family: "French Kiss KG script", "Arial", "sans-serif";
  color: #3399CC;
}

@media screen and (max-width: 1184px) {
  .our-history__title {
    margin: 70px 0 40px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .our-history__title {
    font-size: 70px;
    margin: 60px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .our-history__title {
    display: none;
  }
}