.wedding-wish-guests__form-submit-button {
  margin-bottom: 100px;
  min-height: 50px;
  border-color: rgba(252, 249, 247, 1);
  transition: background-color .5s linear, color .5s linear, border-color .5s linear;
}

.wedding-wish-guests__form-submit-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .2);
  color: rgba(252, 249, 247, 1);
  border-color: rgba(252, 249, 247, 0);
}

@media (max-width: 991px) {
  .wedding-wish-guests__form-submit-button {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .wedding-wish-guests__form-submit-button {
    margin-bottom: 60px;
  }
}

@media (max-width: 491px) {
  .wedding-wish-guests__form-submit-button {
    margin-bottom: 50px;
  }
}