.wedding-wish-guests__form-input {
  text-align: left;
  border: 2px solid white;
  margin-bottom: 5px;
}

.wedding-wish-guests__form-input:focus {
  outline: none;
}

@media (max-width: 491px) {
  .wedding-wish-guests__form-input {
    font-size: 12px;
  }
}