.registration-place__title {
  margin: 24px auto 24px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (max-width: 1440px) {
  .registration-place__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 1184px) {
  .registration-place__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .registration-place__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .registration-place__title {
    font-size: 16px;
    max-width: 90vw;
  }
}

@media screen and (max-width: 479px) {
  .registration-place__title {
    font-size: 14px;
  }
}