.registration-place__title {
  margin: 100px auto 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: rgba(198, 117, 77, 1);
}

@media screen and (max-width: 1184px) {
  .registration-place__title {
    margin: 70px auto 32px;
  }
}

@media screen and (max-width: 767px) {
  .registration-place__title {
    font-size: 16px;
    margin: 50px auto 32px;
    max-width: 90vw;
  }
}

@media screen and (max-width: 479px) {
  .registration-place__title {
    font-size: 14px;
    margin: 40px auto 24px;
  }
}