.wedding-gifts__subtitle {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
}

@media screen and (max-width: 1184px) {
  .wedding-gifts__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .wedding-gifts__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .wedding-gifts__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 491px) {
  .wedding-gifts__subtitle {
    font-size: 14px;
  }
}