.registration-place__adress {
  margin: 0 auto 30px;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
}

@media screen and (max-width: 1440px) {
  .registration-place__adress {
    font-size: 20px;
  }
}

@media screen and (max-width: 1184px) {
  .registration-place__adress {
    font-size: 18px;
    margin: 0 auto 25px;
  }
}

@media screen and (max-width: 991px) {
  .registration-place__adress {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .registration-place__adress {
    font-size: 14px;
    max-width: 95vw;
  }
}

@media screen and (max-width: 479px) {
  .registration-place__adress {
    font-size: 12px;
    margin: 0 auto 10px;
  }
}