.wedding-plan__time {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 1184px) {
  .wedding-plan__time {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .wedding-plan__time {
    font-size: 16px;
  }
}

@media (max-width: 491px) {
  .wedding-plan__time {
    font-size: 14px;
  }
}